@charset "UTF-8";
body p {
    text-indent: 30px;
}
body {
    background-color: rgb(49, 49, 49);
    color: rgb(238, 238, 238);
}

a {
  color: rgb(238, 238, 238);
}

/* mouse over link */
a:hover {
  color: rgb(130, 130, 80);
}

